.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.forms {
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gaps {
    display: flex;
    gap: 20px;
}